@import "tailwindcss";

@font-face {
  font-family: 'Recoleta';
  src: url('../assets/fonts/fonnts.com-recoleta-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../assets/fonts/fonnts.com-recoleta-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../assets/fonts/fonnts.com-recoleta-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../assets/fonts/fonnts.com-recoleta-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../assets/fonts/fonnts.com-recoleta-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../assets/fonts/fonnts.com-recoleta-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../assets/fonts/fonnts.com-recoleta-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@theme {
  --color-primary-100: #FAFAFA;
  --color-primary-200: #E6E6E6;
  --color-primary-300: #CCCCCC;
  --color-primary-400: #999999;
  --color-primary-500: #666666;
  --color-primary-600: #4D4D4D;
  --color-primary-700: #333333;
  --color-primary-800: #1A1A1A;

  --color-secondary-100: #EDF5F8;
  --color-secondary-200: #C9E1E9;
  --color-secondary-300: #A5CDDA;
  --color-secondary-400: #81B9CB;
  --color-secondary-500: #5BA4BB;
  --color-secondary-600: #438BA2;
  --color-secondary-700: #346C7E;
  --color-secondary-800: #254D5A;

  --color-terser-100: #FEFAF6;
  --color-terser-200: #FCEFDF;
  --color-terser-300: #F7D7B0;
  --color-terser-400: #F3BF81;
  --color-terser-500: #EFA753;
  --color-terser-600: #EB8F24;
  --color-terser-700: #C97513;
  --color-terser-800: #9A5A0E;

  --color-info-red-100: #FBD0D0;
  --color-info-red-200: #F7A1A1;
  --color-info-red-300: #F37272;
  --color-info-red-400: #EF4343;
  --color-info-red-500: #EB1414;
  --color-info-red-600: #EB1414;
  --color-info-red-700: #BC1010;
  --color-info-red-800: #8C0D0D;

  --color-info-green-100: #E4FBE9;
  --color-info-green-200: #B8F4C5;
  --color-info-green-300: #8CEDA1;
  --color-info-green-400: #60E67D;
  --color-info-green-500: #34E059;
  --color-info-green-600: #1EC341;
  --color-info-green-700: #179632;
  --color-info-green-800: #106A23;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Primary Colors */
  --primary-100: #FAFAFA;
  --primary-200: #E6E6E6;
  --primary-300: #CCCCCC;
  --primary-400: #999999;
  --primary-500: #666666;
  --primary-600: #4D4D4D;
  --primary-700: #333333;
  --primary-800: #1A1A1A;

  /* Secondary Colors */
  --secondary-100: #EDF5F8;
  --secondary-200: #C9E1E9;
  --secondary-300: #A5CDDA;
  --secondary-400: #81B9CB;
  --secondary-500: #5BA4BB;
  --secondary-600: #438BA2;
  --secondary-700: #346C7E;
  --secondary-800: #254D5A;

  /* Tersier Colors */
  --terser-100: #FEFAF6;
  --terser-200: #FCEFDF;
  --terser-300: #F7D7B0;
  --terser-400: #F3BF81;
  --terser-500: #EFA753;
  --terser-600: #EB8F24;
  --terser-700: #C97513;
  --terser-800: #9A5A0E;

  /* Information Red Colors */
  --info-red-100: #FBD0D0;
  --info-red-200: #F7A1A1;
  --info-red-300: #F37272;
  --info-red-400: #EF4343;
  --info-red-500: #EB1414;
  --info-red-600: #EB1414;
  --info-red-700: #BC1010;
  --info-red-800: #8C0D0D;

  /* Information Green Colors */
  --info-green-100: #E4FBE9;
  --info-green-200: #B8F4C5;
  --info-green-300: #8CEDA1;
  --info-green-400: #60E67D;
  --info-green-500: #34E059;
  --info-green-600: #1EC341;
  --info-green-700: #179632;
  --info-green-800: #106A23;

  /* Shadow Colors */
  --shadow-drop-1: 0px 15px 40px 0px #1C1A1840;
  --shadow-drop-2: 0px 10px 40px -5px #33333326;
  --shadow-drop-3: 15px 0px 40px 0px #1C1A1840;
  --shadow-inner-1: 0px 6px 10px 0px #9A5A0E33 inset;
  --shadow-bg-blur: #808080;

  /* Background Colors */
  --bg-base-60: #808080;

  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-recoleta: 'Recoleta', sans-serif;

  --brand-primary: rgb(47, 112, 193);
  --brand-secondary: rgb(116, 97, 195);
  --brand-alternative: rgb(19, 120, 134);
  --background-site: rgb(249, 249, 249);
  --background-code: rgb(244, 244, 244);
  --text-body: rgb(54, 49, 61);
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --admonition-note: rgb(46, 109, 188);
  --admonition-warning: rgb(255, 196, 9);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 47, 112, 193;
  --brand-secondary-rgb-value: 116, 97, 195;
  --brand-alternative-rgb-value: 19, 120, 134;
  --background-site-rgb-value: 249, 249, 249;
  --background-code-rgb-value: 244, 244, 244;
  --text-body-rgb-value: 54, 49, 61;
  --text-comment-rgb-value: 99, 94, 105;
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-medium-contrast-rgb-value: 99, 94, 105;
  --text-low-contrast-rgb-value: 116, 109, 118;
  --detail-high-contrast-rgb-value: 192, 192, 192;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
  --detail-low-contrast-rgb-value: 240, 240, 242;
  --admonition-note-rgb-value: 46, 109, 188;
  --admonition-warning-rgb-value: 255, 196, 9;
  --admonition-danger-rgb-value: 220, 38, 38;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-recoleta {
  font-family: var(--font-recoleta) !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.text-hero {
  font-size: 72px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0;
}

.text-header-1 {
  font-size: 64px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0;
}

.text-header-2 {
  font-size: 48px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0;
}

.text-header-3 {
  font-size: 32px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0;
}

.text-subtitle-1 {
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0;
}

.text-subtitle-2 {
  font-size: 18px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0;
}

.text-subtitle-3 {
  font-size: 16px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0;

}

.text-subtitle-4 {
  font-size: 14px;
  line-height: 110%;
  font-weight: 700;
  letter-spacing: 0;
}

.text-body-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
}

.text-body-2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.text-body-3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.btn {
  box-shadow: none;
  transition: 0.3s ease;
}

.text-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
}

.btn:hover {
  box-shadow: var(--shadow-drop-1);
}

.btn:active {
  box-shadow: var(--shadow-inner-1);
}

.btn-fill-primary {
  background: var(--primary-800);
  color: #fff;
}

.btn-line-primary {
  background: transparent;
  color: var(--primary-800);
  border: 1.5px solid var(--primary-800);
}

.btn-ghost-primary {
  background: transparent;
  color: var(--primary-800);
}

.btn-fill-secondary {
  background: var(--secondary-500);
  color: #fff;
}

.btn-line-secondary {
  background: transparent;
  color: var(--secondary-500);
  border: 1.5px solid var(--secondary-500);
}

.btn-ghost-secondary {
  background: transparent;
  color: var(--secondary-500);
}

.btn-fill-terser {
  background: var(--terser-500);
  color: #fff;
}

.btn-line-terser {
  background: transparent;
  color: var(--terser-500);
  border: 1.5px solid var(--terser-500);
}

.btn-ghost-terser {
  background: transparent;
  color: var(--terser-500);
}

.btn-fill-info-red {
  background: var(--info-red-500);
  color: #fff;
}

.btn-line-info-red {
  background: transparent;
  color: var(--info-red-500);
  border: 1.5px solid var(--info-red-500);
}

.btn-ghost-info-red {
  background: transparent;
  color: var(--info-red-500);
}

.btn-fill-info-green {
  background: var(--info-green-600);
  color: #fff;
}

.btn-line-info-green {
  background: transparent;
  color: var(--info-green-500);
  border: 1.5px solid var(--info-green-500);
}

.btn-ghost-info-green {
  background: transparent;
  color: var(--info-green-500);
}

.wrapper {
  width: 100%;
  height: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.inner-book {
  width: 100%;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  transform: translateZ(0);
}

.inner-book {
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.inner-book {
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.inner-book:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 0;
  bottom: 14px;
  transform: rotateY(-20deg) translateZ(-20px);
  z-index: 0;
  box-shadow: 10px 12px 20px 13px rgba(0, 0, 0, 0.3);
}

.inner-book .img {
  transform: rotateY(-20deg);
  width: 100%;
  z-index: 5;
  clear: both;
  height: 100%;
  background: #ddd;
}

.inner-book img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}

.inner-book .img:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-left: 4px solid rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.page {
  width: calc(100% - 20px);
  height: calc(100% - 2px);
  position: absolute;
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.2),
    inset -1px 0px 1px rgba(150, 150, 150, 0.1);
  border-radius: 0px 3px 3px 0px;
  transform: rotateY(-20deg) translateZ(-5px);
  right: -3px;
  z-index: 4;
  background: white;
}

.page-2 {
  height: calc(100% - 4px);
  right: -6px;
  z-index: 3;
}

.page-3 {
  height: calc(100% - 6px);
  right: -9px;
  z-index: 2;
}

.page-4 {
  height: calc(100% - 8px);
  right: -12px;
  z-index: 1;
}

.page-5 {
  height: calc(100% - 10px);
  right: -15px;
  z-index: 0;
}

.img.final-page {
  position: absolute;
  z-index: -1;
  right: -17px;
  transform: rotateY(-19deg) translateZ(-10px) scale(0.984);
}